<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">  
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-list>  
            <ion-item>
              <ion-label position="floating">User name</ion-label>
              <ion-input type="email" name="email" required #emailAddress="ngModel" ngModel  ></ion-input>
            
            </ion-item>
            <ion-item *ngIf="!emailAddress.valid && emailAddress.touched" lines="none">
              <ion-label class="--ion-color-danger" >enter email address</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Password</ion-label>
              <ion-input type="password" (change)="onPasswordEntered()" ngModel name="password" required #userPassword="ngModel"
              minlength="6"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!userPassword.valid && userPassword.touched" lines="none">
              <ion-label class="--ion-color-danger">Enter a valid password</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Responsibility</ion-label>
              <ion-select *ngIf="userResp">
              <ion-select-option required *ngFor="let r of userResp.resp" value="r.respId">{{r.respDesc}}</ion-select-option>             
            </ion-select>
            
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">         
          <ion-button (click)="onLogin()" color="primary" expand="block" [disabled]="!f.valid"> Log in </ion-button>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
