<ion-header *ngIf="userResp">
  <ion-header *ngIf="userResp">
    <app-primary-toolbar
     [showHomeButton]="true"  
     [showMainMenuButton]="true"
     [moduleTitle]="'GL Definitions '" 
     [opTitle]="userResp.responsibility.ounDesc">
    </app-primary-toolbar>  
  </ion-header>
  </ion-header>
  
  <ion-content>  
  <ion-grid>
    <ion-row *ngIf="userResp">
      <ion-col *ngFor="let f of userResp.defFunction" size-lg="2" offset-lg="0" size-md="3" offset-md="2" size-sm="4" offset-sm="3">
        <ion-item  button  [routerLink]="f.funLink">
          <ion-icon [name]="f.funIcon" slot="start"></ion-icon>
          <ion-label>{{f.funDesc}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  